# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg

# Windows
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
.vs/

# Secrets
.env
